<ion-view>
    <ion-nav-bar>
        <ion-nav-buttons side="primary">
          <button class="button" ng-click="doBack()">Back</button>
        </ion-nav-buttons>
        <ion-nav-title>Unit</ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <ion-list>
            <ion-item menu-close href="#/pgtk">
                <i class="ion-university" style="font-size: 25px; padding-right: 5px;"></i>
              PGTK CAKRA BUANA
            </ion-item>
            <ion-item menu-close href="#/sd">
                <i class="ion-university" style="font-size: 25px; padding-right: 5px;"></i>
              SD CAKRA BUANA
            </ion-item>
            <ion-item menu-close href="#/smp">
                <i class="ion-university" style="font-size: 25px; padding-right: 5px;"></i>
              SMP CAKRA BUANA
            </ion-item>
            <ion-item menu-close href="#/sma">
              <i class="ion-university" style="font-size: 25px; padding-right: 5px;"></i>
              SMA CAKRA BUANA
            </ion-item>
            <ion-item menu-close href="#/smk">
                <i class="ion-university" style="font-size: 25px; padding-right: 5px;"></i>
                SMK BROADCAST PERTELEVISIAN CAKRA BUANA
            </ion-item>
          </ion-list>
    </ion-content>
</ion-view>