<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
  
      <ion-nav-bar></ion-nav-bar>
      
      <ion-nav-view name="menuContent"></ion-nav-view>
      
    </ion-side-menu-content>
  
    <ion-side-menu side="left">
      
      <ion-header-bar class="bar-stable">
        <h1 class="title">Menu</h1>
      </ion-header-bar>
  
      <ion-content>
        <ion-list>
          <ion-item menu-close href="#/adm/main_adm">
            <i class="icon ion-home"></i>
            Home
          </ion-item>
  
          <ion-item menu-close href="#/adm/siswa">
            <i class="icon ion-ios-people"></i>
            Siswa
          </ion-item>
  
          <ion-item menu-close href="#/adm/mtp">
            <i class="icon ion-document-text"></i>
            Mata Pelajaran
          </ion-item>
  
          <ion-item menu-close href="#/adm/nilai">
            <i class="icon ion-compose"></i>
            Nilai
          </ion-item>
          
          <ion-item menu-close ng-controller="LoginAdmCtrl" ng-click="doLogout()">
            <i class="icon ion-log-out"></i>
            Logout
          </ion-item>
        </ion-list>
      </ion-content>
      
    </ion-side-menu>
  </ion-side-menus>
  