<ion-view>
    <ion-nav-bar>
        <ion-nav-buttons side="primary">
            <button class="button" ng-click="doBack()">Back</button>
        </ion-nav-buttons>
        <ion-nav-title>Ekstrakurikuler SMA</ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div class="content" style="padding-left: 10px;">
            <br><p>
                <strong style="font-weight: bold;">EKSTRAKURIKULER</strong><br>
                <li>Karya Ilmiah Remaja</li>
                <li>Pramuka</li>
                <li>Basket</li>
                <li>Futsal</li>
                <li>Taekwondo</li>
                <li>Traditional Dance</li>
            </p>
            <p>
                Kegiatan Lain :
                <li>Latihan Dasar Kepemimpinan Siswa</li>
                <li>StudyTour</li>
                <li>Fieldtrip</li>
                <li>One Day Presentation</li>
            </p>
            <img style="width: 330px;" src="img/saman_sma.jpg" alt=""><br>
            <img style="width: 330px;" src="img/taekwondo_sma.jpg" alt=""><br>
        </div>
    </ion-content>
</ion-view>